* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: #222222;
}

body {
  background-color: #222222;
  width: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
}

.navbar {
  flex-wrap: nowrap;
  background-color: #81a7a7;
  padding-right: 30px;
}

section {
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 200px;
  width: 100%;
  height: 100%;
}

/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    align-items: stretch;
} */
@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 960px) {
  .menu_Navegacion a {
    font-size: 15px;
  }
}

@media screen and (max-width: 720px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
  }
  .navbar .hamburguer_menu {
    display: flex;
  }
  .lista_Menu_Navegacion {
    display: none !important;
  }
  .navbar {
    justify-content: right;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
  }
}

.Item-image {
  border-radius: 30px;
}

.menu_Navegacion {
  display: inline-block;
  font-size: 20px;
  transition: ease-in-out 3s;
  text-align: center;
}

.menu_Navegacion:focus {
  height: 200px;
  font-size: 24px;
}

.menu_Navegacion a {
  color: #ffffff;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.lista_Menu_Navegacion {
  display: flex;
  width: 98.3%;
  background-color: #81a7a7;
  padding: 1rem;
  justify-content: space-around;
  border-radius: 10px;
}

.hamburguer_menu {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 25px;
  height: 25px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
}

.Titulo_Principal {
  color: black;
  border-radius: 10px;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 50px;
  background-color: #fafafa;
  position: relative;
  bottom: 0;
  width: 100%;
}

.contact_form {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 200px;
  width: 100%;
}

.contact_form label {
  color: #ffffff;
}

.contact_form input {
  border-radius: 10px;
  padding: 20px;
}

.button {
  background-color: #4400ff;
}

.cajita {
  height: 100px;
  background-color: #ff0000;
}

#ultima_cajita {
  background-color: #4400ff;
}
/*# sourceMappingURL=style.css.map */